
$grey: #b6b7c0;
$white: #fff;
$sticky-nav-bg: #292c47;
$btn-color: #e84545;
$btn-hover-color: #e52e2e;
$icon-color: #e84545;
$grey-text-color: #80858b;
$red: #e84545;
$person-text-color: #6c7279;
$social-icons-color: #c6cacc;
$testimonials__content__bg-color: #53354a;
$download-section-text-color: #2d3033;
$footer-bg: #3a3e64;


$main-screen__heading-font: 'Open Sans', sans-serif;
$btn-font: 'Raleway', sans-serif;
$text-font: 'Raleway', sans-serif;
$quote-font: 'Cardo', serif;

